.git
.gitignore
.gitattributes
.env
.env.*.local
.env.*.php
.DS_Store
Thumbs.db
*.log
npm-debug.log
yarn-error.log
composer.lock
bootstrap/cache/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/*.key
storage/debugbar
database/*.sqlite
database/*.sqlite-journal
.vscode
.idea
*.pem
.editorconfig
CONTRIBUTING.md
CHANGELOG.md
SECURITY.md
phpunit.xml
pest.xml
.prettierrc
.eslintrc
.stylelintrc
docker-compose.yml
Dockerfile.dev
render.yaml
tests/
.github/
public/storage
