APP_NAME=TourismBooking
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-domain.com

LOG_CHANNEL=stack


DB_CONNECTION=pgsql
DB_HOST=dpg-d8gc0lflk1mc73enkdjg-a
DB_PORT=5432
DB_DATABASE=bolinaodb
DB_USERNAME=host
DB_PASSWORD=hxmfIvh6GNt6ZxVxoRkckSnLtCmjf2BL
CORS_ALLOW_ORIGIN=*

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="TourismBooking"
